html {
  font-family: arial, sans-serif
}

body {
  padding: 0;
  margin: 0;
}

.container {
  margin: auto;
  height: 500px;
  width: 500px;
  margin-top: 5em;
}

.button-restart {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  margin-top: 1em;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button-restart:hover,
.button-restart:focus {
    background: #0053ba;
}

.board {
  height: 450px;
  width: 450px;
  background-color: #ccc;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}

.board .square {
  width: 140px;
  height: 140px;
  cursor: pointer;
  border: 5px solid #aaa;
  position: relative;
  display: flex;
  align-content: space-around;
  justify-content: center;
  text-align: center;
  font-size: 110px;
}

.board .square.selected-x,
.board .square.selected-o {
  cursor: default;
}

.board .square:not(.selected-x):not(.selected-o):hover {
  background-color: #aaa;
}

.board .square:not(.selected-x):not(.selected-o):hover::after,
.board .square.selected-x::after,
.board .square.selected-o::after {
  height: 140px;
  width: 140px;
  font-weight: bold;
  position: absolute;
  top: 0;
}

.board .square:not(.selected-x):not(.selected-o):hover::after {
  color: #888;
}

.board.player-x .square:not(.selected-x):not(.selected-o):hover::after,
.board .square.selected-x::after {
  content: 'x';
}

.board.player-o .square:not(.selected-x):not(.selected-o):hover::after,
.board .square.selected-o::after {
  content: 'o';
}

.board .square-0, .board .square-1, .board .square-2, .board .square-3, .board .square-4, .board .square-5 {
  border-bottom-color: #555;
}

.board .square-6, .board .square-7, .board .square-8, .board .square-3, .board .square-4, .board .square-5 {
  border-top-color: #555;
}

.board .square-0, .board .square-3, .board .square-6, .board .square-1, .board .square-4, .board .square-7 {
  border-right-color: #555;
}

.board .square-1, .board .square-4, .board .square-7, .board .square-2, .board .square-5, .board .square-8 {
  border-left-color: #555;
}

.board .square.winner {
  background-color: #99dd99;
}

.flash-message {
  padding: 1em 0;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 1.5em;
  background-color: #9999bb;
  display: none;
  z-index: 1;
}